<footer>
    <a href="javascript:;" class="btn-top">
        <span class="text">Top</span>
        <span class="line"></span>
    </a>
    <ul class="footer-menu flex">
        <li><a href="" title="SITE MAP">SITE MAP</a></li>
        <li><a href="" title="OFFERS">OFFERS</a></li>
        <li><a href="" title="EXPERIENCE">EXPERIENCE</a></li>
        <li><a href="" title="CONTACT US">CONTACT US</a></li>
        <li><a href="" title="CAREERS">CAREERS</a></li>
        <li><a href="" title="TERMS OF USE">TERMS OF USE</a></li>
        <li><a href="" title="PRIVACY POLICY">PRIVACY POLICY</a></li>
        <li><a href="" title="OWNERS PRIVACY POLICY">OWNERS PRIVACY POLICY</a></li>
        <li><a href="" title="SAFETY RECALL">SAFETY RECALL</a></li>
    </ul>
    <div class="footer-bot flex">
        <div class="btn-link">
            <a href="" title="Worldwide" target="_blank">Worldwide</a>
        </div>
        <p class="copy">GENESIS IS A REGISTERED TRADEMARK OF HYUNDAI MOTOR AMERICA. ALL RIGHTS RESERVED © 2019 HYUNDAI MOTOR AMERICA.</p>
    </div>
</footer>