<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a href="" class="navbar-brand" title=""></a>
        <ul class="menu_top flex">
            <li><a href="">G70</a></li>
            <li><a href="">G80</a></li>
            <li><a href="">G90</a></li>
            <li><a href="">Future</a></li>
            <li><a href="">Get your price</a></li>
            <li><a href="javascript:;" class="btn-menu"><span class="text">Menu</span> <span class="line-wrap"><span class="tb-line"><span class="ctr-line"></span></span></span> </a></li>
        </ul>
        <div class="navbar-collapse" id="menu_genesis">
            <a href="#" class="btn-close-menu"><span class="line-wrap"><span class="bt-lines"></span></span></a>
            <form method="" action="" class="genesis-search">
                <div class="form-group">
                    <input type="search" name="q" placeholder="SEARCH" maxlength="16">
                    <img src="./assets/images/ico_search_w.png" class="icon-search" alt="SEARCH">
                </div>
            </form>
            <ul class="navbar-menu">
                <li>
                    <a href="" title="">The brand</a>
                    <ul class="sub-menu">
                        <li><a href="" title="">Introduction</a></li>
                        <li><a href="" title="">Genesis g70</a></li>
                        <li><a href="" title="">Genesis g80</a></li>
                        <li><a href="" title="">Genesis g90</a></li>
                        <li><a href="" title="">Experience</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" title="">Shopping tools</a>
                    <ul class="sub-menu">
                        <li><a href="" title="">SEARCH INVENTORY</a></li>
                        <li><a href="" title="">REQUEST A QUOTE</a></li>
                        <li><a href="" title="">SCHEDULE TEST DRIVE</a></li>
                        <li><a href="" title="">COMPARE VEHICLES</a></li>
                        <li><a href="" title="">ESTIMATE TRADE-IN VALUE</a></li>
                    </ul>
                </li>
                <li><a href="" title="">Find  retailer</a></li>
                <li><a href="" title="">Mygenesis login</a></li>
            </ul>
            <ul class="menu-link">
                <li><a href="" title="">Build & price</a></li>
                <li><a href="" title="">Special offers</a></li>
                <li><a href="" title="">Certified pre-owned</a></li>
                <li><a href="" title="">Owners</a></li>
                <li><a href="" title="">Genesis events</a></li>
                <li><a href="" title="">Get genesis updates</a></li>
            </ul>
            <div class="bottom flex">
                <ul class="social flex">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-youtube"></i></a></li>
                </ul>
                <div class="select-language flex">
                    <a id="en" href="" class="on">ENG</a>
                    <a id="ko" href="">KOR</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="indicator">
        <nav class="indicator-wrap">
            <ul class="flex">
                <li><a href="#introduction" title="">2019 Genesis G80</a></li>
                <li><a href="#offers" title="">Offers</a></li>
                <li><a href="#gallery" title="">Gallery</a></li>
                <li><a href="#design" title="">Design</a></li>
                <li><a href="#performance" title="">Performance</a></li>
                <li><a href="#technology" title="">Technology</a></li>
                <li><a href="#safety" title="">Safety</a></li>
                <li><a href="#experience" title="">Experience</a></li>
            </ul>
        </nav>
    </div>
</header>