@function v($var) {
  @return var(--#{$var});
}
:root{
  --red: #ae2226;
  --hover: #804033;
  --black: #000;
  --tb: #cd9a81;
  font-size: 10px;
}

@font-face{
  font-family:genesis-head-light;
  src:url("#{$font-path}/GenesisSansHead-Light.419b160.woff2") format("woff2"),url("#{$font-path}/GenesisSansHead-Light.cb0f246.woff") format("woff");
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:genesis-head;
  src:url("#{$font-path}/GenesisSansHead.b4f15bd.woff2") format("woff2"),url("#{$font-path}/GenesisSansHead.461bfa8.woff") format("woff");
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family: genesis-text;
  src:url("#{$font-path}/GenesisSansText.efedf4c.woff2") format("woff2"),url("#{$font-path}/GenesisSansText.56e19e2.woff") format("woff");
  font-weight:400;
  font-style:normal
}

body {
  background: #141414;
  font-family: genesis-text, sans-serif;
  font-size: 10px;
  color: v(black);
}
.wrapper{width: 100%; overflow: hidden;}
.pr{position: relative;}
// header
.navbar{
  width: 100%; height: 80px; background: #000; padding: 0;
  position: fixed; top: 0;
  z-index: 90;
  &-brand{width: 120px; height: 47px; display: block; margin-left: 30px; background: url("#{$img-path}/logo_header.png") no-repeat 0 0;}
  .menu_top{
    margin: 0 30px 0 auto;
    font-size: 16px;
    line-height: 24px;
    a{padding-right: 25px; color: #dedede; transition: color 0.8s; margin-left: 15px; text-transform: uppercase; position: relative;}
    .btn-menu{display: inline-block; padding-right: 52px;}
    a:hover{
      color: v(hover);
      transition: color 0.3s;
      .line-wrap{
        .tb-line{
          .ctr-line,&:before,&:after{background: v(hover);}
        }
      }
    }
  }
  .line-wrap{
    width: 36px; height: 22px; position: absolute; top: 0; right: 0; overflow: hidden;
    &:hover{
      .tb-line{
        .ctr-line{transition: all 0.3s;}
        .ctr-line,&:before,&:after{background: v(hover);}
        &:before{bottom: 18px;}
        &:after{top: 18px;}
      }
    }
    .tb-line{
      .ctr-line{
        width: 100%; height: 2px; background: #fff;
        position: absolute; top: 50%; left: 50%; margin: -1px 0 0 -18px; transition: all .3s;
      }
      &:before,&:after{
        content: "";
        width: 100%; height: 2px; background: #fff;
        position: absolute;
        left: 50%;
        margin: 0 0 0 -18px;
        transition: all .3s;
      }
      &:before{bottom: 20px;}
      &:after{top: 20px;}
    }
  }
}
.navbar-collapse{
  width: 470px;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding-left: 55px;
  position: fixed;
  top: 0;
  right: -470px;
  background: #000;
  transition: right .4s ease-in-out;
  &.is_open{right: 0;}
  a{
    color: #999;
    transition: 0.3s all;
    text-transform: uppercase;
    z-index: 2;
  }
  .genesis-search{
    margin-top: 20px;
    input{width: 300px; height: 42px; padding: 0 70px 0 30px; font-size: 16px; color: #fff; background: none; border: none;}
    input::placeholder{color: #999;}
    .form-group{position: relative;}
    .icon-search{
      position: absolute;
      top: 13px;
      left: 0;
      padding-left: 5px;
    }
  }
  .btn-close-menu{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 85px;
    height: 85px;
    overflow: hidden;
    text-indent: -10000px;
    z-index: 1;
    &:hover{
      .bt-lines{
        &:after,&:before{background: v(hover);}
      }
    }
    .line-wrap{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -13px 0 0 -13px;
      width: 25px;
      height: 25px;
      overflow: hidden;
    }
    .bt-lines{
      &:before,&:after{
        content: "";
        position: absolute;
        top: 12px; left: 50%;
        width: 36px; height: 1px;
        margin: 0 0 0 -18px;
        background: #fff;
        transition: all .3s;
      }
      &:after{transform: rotate(-45deg);}
      &:before{transform: rotate(45deg);}
    }
  }
  .navbar-menu{
    .sub-menu{
      height: 0px;
      margin-top: 5px;
      transition: height .5s ease-in-out;
      position: relative;
      &:after{
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
        width: 37px;
        height: 1px;
        background: #804033;
      }
      li{margin-top: 1px; line-height: 1.2;}
      a{font-size: 12px; padding-left: 50px;}
      a:hover{color: #fff;}
    }
    > li:hover > a{color: #fff;}
    > li:hover .sub-menu{height: 110px;}
    li{
      position: relative;
      margin-top: 20px;
      overflow: hidden;
      font: 18px/1.2 'genesis-head-light';
    }
    a{
      display: inline-block;
      position: relative;
      padding-right: 13px;
    }
  }
  .menu-link{
    display: block; width: calc(100% - 55px);
    position: relative;
    margin-top: 28px;
    padding-top: 15px;
    border-top: 1px solid #333333;
    li{
      margin-top: 17px;
      font-size: 16px;
      line-height: 1;
    }
    a{font-size: 14px;}
  }
  .social{
    align-items: center;
    li{margin: 0 5px;}
    i{font-size: 20px;}
    a:hover i{color: #fff;}
  }
  .bottom{
    width: calc(100% - 55px);
    position: absolute;
    bottom: 25px;
    justify-content: space-between;
  }
  .select-language{
    padding-right: 20px;
    a{padding: 0 5px;}
    a.on{color: #fff;}
  }
}
.indicator{
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#e1e1e1,.9);
  position: fixed;
  top: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  z-index: 4;
  &.is_show{
    top: 80px;
    opacity: 1;
    visibility: visible;
  }
  li{display: inline-block; position: relative;}
  li a{
    display: inline-block;
    padding: 19px 18px 17px;
    font-size: 12px;
    line-height: 1;
    color: #666;
    transition: color 0.3s;
    text-transform: uppercase;
  }
  li a:hover,li a.active{color: v(hover);}
  li:first-child a:after{display: none;}
  li a:after{
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
    width: 1px;
    height: 11px;
    background: #c1c1c1;
    content: '';
  }
}

//main
main{margin-top: 80px;}
.hero-vlp{
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  .visual-wrapper{
    position: absolute; top: 0; bottom: 0; left: 0; right: 0; transition: all .5s linear; z-index: 0;
    .visual{display: none; height: 100%;}
    img{width: 100%; height: 100%; object-fit: cover;}
  }
  .hero-content{
    padding: vw(120px) vw(130px) vw(80px);
    position: relative;
    .car-title{margin-bottom: vw(35px);}
  }
  .gold-frame{
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: vw(90px);
    right: vw(90px);
    border: 1px solid #a36b4f;
    border-top: none;
  }
  .heading{
    color: #fff;
    &-1{line-height: .8; margin: 10px 0 10px -.4rem;}
  }
  .text-wrapper{
    width: 100%;
    margin-top: vw(70px);
    max-width: 470px;
    h5{
      line-height: 1.4;
      max-width: none;
      color: #a36b4f;
      font-size: vw(20px);
    }
    p{
      margin: 2rem 0 5.5rem;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #fff;
    }
  }
  .btns{
    .cta-btn{
      position: relative;
      background: #fff;
      color: #141414;
      cursor: pointer;
      width: auto;
      min-width: 24rem;
      &:hover{
        color: #fff;
        &:before{width: 100%; opacity: 1; transition: width .25s ease-in-out,opacity 0ms;}
      }
      &:before{
        content: "";
        width: 0;
        height: 100%;
        position: absolute;
        background: #141414;
        opacity: 0;
        transition: width 0ms ease-in-out .75s,opacity .75s 0ms;
      }
    }
    .cta-btn:nth-child(2){
      margin-left: 2rem;
      background: hsla(0,0%,86%,.1);

      &:before{
        background: hsla(0,0%,86%,.2);
      }
    }

  }
}
.data-set{
  width: 60%;
  position: absolute;
  left: 50%;
  bottom: vw(-40px);
  justify-content: space-between;
  max-width: calc(50% - 8rem);
  color: #fff;
  [data-popup-copy] {
    text-decoration: underline;
    cursor: pointer;
    transition: opacity .25s linear;
  }
  .data-lable{
    width: 100%;
    font-size: 1.3rem;
    padding-bottom: .4rem;
    margin-bottom: 0;
    text-transform: uppercase;
    position: relative;
    span{
      font-size: 1.1rem;
      line-height: 1.25;
      text-transform: uppercase;
      letter-spacing: .1em;
      position: relative;
      width: 100%;
    }
  }
  .data-number{
    margin-top: .4rem;
    margin-bottom: 0;
    .number{
      display: inline-block;
      line-height: 1;
      font-size: vw(70px);
      font-family: genesis-head-light,sans-serif;
    }
    .small{font-size: vw(52px);}
    .currency-symbol{
      font-size: 1.2rem;
      display: inline-block;
      vertical-align: top;
      padding-top: .4rem;
      padding-right: .4rem;
      color: #cd9a81;
    }
  }
  .data-note{
    display: block;
    padding-top: 1.2rem;
    font-size: 1.3rem;
    line-height: 1;
    color: #cd9a81;
    span{
      text-decoration: underline;
      cursor: pointer;
      transition: opacity .25s linear;
    }
  }
  .block-debug-label{text-transform: uppercase;}
}
.button-wrapper{
  padding: 1.6rem 0;
  .arrow{
    display: block;
    width: .8rem;
    height: .8rem;
    color: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    transform: rotate(45deg);
    &:hover{
      &:after{opacity: 1; transform: translate(0rem,0rem);}
      &:before{opacity: 0; transform: translate(1rem,1rem);}
    }
    &:before,&:after{
      position: absolute;
      border: .2rem solid currentColor;
      border-top: none;
      border-left: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all .3s ease-in-out;
      content: "";
    }
    &:after{
      opacity: 0; transform: translate(-1rem,-1rem);
    }
  }
}

.pullquote{
  padding: vw(60px);
  margin-bottom: vw(50px);
  text-align: center;
  .heading-2{margin-bottom: vw(45px); color: v(tb); font-size: vw(30px); line-height: 1;}
  p{margin-bottom: vw(75px); font-size: vw(20px); color: #fff;}
}
.dataset{
  &-content{align-items: center; margin: 0 auto; padding: vw(120px); color: #fff;}
  h5{
    margin-bottom: 0;
    padding-bottom: .4rem;
    font-size: 1.1rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
    width: 100%;
  }
  .data{
    width: 100%;
    justify-content: space-between;
    max-width: calc(50% - 60px);
    margin-right: vw(120px);
  }
  .currency-symbol{
    display: inline-block;
    vertical-align: top;
    padding-top: .2rem;
    padding-right: .4rem;
    color: #cd9a81;
    font-size: 1.6rem;
  }
  .number{
    display: inline-block; font-size: 5.2rem; font-family: genesis-head-light, sans-serif; line-height: 1;
  }
  .cta-wrapper{max-width: calc(50% - 60px); width: 100%; justify-content: center;}
  .text{
    display: block;
    width: 100%;
    margin-top: vw(30px);
    font-size: 1.3rem;
    color: #6f6f6f;
    span{text-decoration: underline; cursor: pointer;}
  }
}
.module{
  .full-width-image{padding: 0 vw(120px); height: 50vw; position: relative; overflow: hidden;}
  .visual-wrapper{
    position: absolute; top: 0; bottom: 0; left: 0; right: 0; transition: all .6s ease-out; z-index: 0; overflow: hidden;
    .visual{display: none; height: 100%;}
    img{width: 100%; height: 100%; object-fit: cover;}
  }
  .content,.content-wrapper{
    max-width: 50%;
    height: 100%;
    padding: vw(40px) 0;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    position: relative;
    .heading-2{margin-bottom: vw(50px); font-size: vw(40px); max-width: vw(640px); line-height: 1;}
    .heading-5{
      margin-bottom: vw(30px);
      font-size: vw(20px);
      line-height: 1;
      color: #a36b4f;
    }
    p{max-width: vw(600px); margin-right: 1rem; font-size: 1.6rem;}
  }
  .content-wrapper.is-right{margin-left: auto;}
}
.news{
  padding: vw(107px) 0;
  &-list{padding: 0 vw(120px);}
  .item{
    width: 33.33%;
    padding: 2rem 2rem 1rem;
    color: currentColor;
    position: relative;
    picture{margin-bottom: 2rem; display: block;}
    img{max-width: 100%;}
    .heading-3{color: #cd9a81; font-size: 2rem; line-height: 1.5;}
    p{margin: 3.5rem 6rem 3rem 0; color: #fff; font-size: 1.6rem; line-height: 1.5;}
  }
}
.pagelink{
  background: #fff;
  &.is-dark{
    background: #141414;
    .link{color: #fff;}
  }
  .page_link{
    align-items: center;
    justify-content: center;
    padding: vw(80px) vw(20px);
  }
  .heading-2{margin: 0 4rem 0 0; font-size: vw(30px); color: #a36b4f;}
  .link{
    font-size: 1.3rem;
    color: #141414;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-indent: .1em;
    padding: 1rem 0;
    margin: 0 5.5rem;
    position: relative;
    &:after{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: currentColor;
      opacity: .5;
      content: "";
      transition: bottom .25s cubic-bezier(.95,.05,.795,.035);
    }
    &:hover:after{
      bottom: .8rem;
      transition: bottom .5s cubic-bezier(.19,1,.22,1);
    }
  }
}
.gallery{
  height: 100vh;
  .grid{max-height: 100vh; height: 100vh; width: 100%; position: relative;}
  .grid-item{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    cursor: pointer;
    overflow: hidden;
    &:hover img{transform: scale(1.1);}
    img{width: 100%; height: 100%; object-fit: cover; transition: transform 1s linear;}
  }
  .grid-item:nth-child(1){width: 22%; height: 33.33%;}
  .grid-item:nth-child(2){top: 33.33%; left: 0; width: 22%; height: 66.667%;}
  .grid-item:nth-child(3){top: 0; left: 22%; width: 56%; height: 100%;}
  .grid-item:nth-child(4){width: 22%; left: 78%; height: 50%;}
  .grid-item:nth-child(5){width: 22%; height: 50%; top: 50%; left: 78%;}
}
.view360{
  padding-bottom: vw(120px);
  .title-wrapper{padding: vw(70px) vw(100px); text-align: center;}
  .heading-2{font-size: 3rem; line-height: 1; color: #fff;}
  .visual-wrapper{height: vw(555px);}
  .threesixty {
    height: 500px !important;
    width: 100% !important;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }
  .threesixty_images {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  .threesixty_images img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  .threesixty_images img.previous-image {
    visibility: hidden;
    width: 0;
  }
  .threesixty_images img.current-image {
    visibility: visible;
    width: 100%;
  }
  .threesixty_icon{
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: rgba(0,0,0,.8);
    opacity: 1;
    z-index: 1;
    pointer-events: none;
    .text{
      font-size: 2rem;
      letter-spacing: .1rem;
      color: #fff;
      position: absolute;
      left: 50%;
      top: 45%;
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
    .text .small{
      font-size: 1.4rem;
      position: absolute;
      top: 0; right: -10px;
    }
  }
}
.verticaltabs{
  .content-wrapper{
    padding: vw(80px) 0; justify-content: space-between;
    &.reverse{flex-direction: row-reverse;}
  }
  &.performance{
    background: #fff;
    .tabs-container{padding:  0 vw(120px) 0 0;}
  }
  &.tech{
    .tabs-image-container{max-height: 535px;}
  }
  &.is-light{
    .heading-5,p{color: #141414;}
  }
  .tabs-container{
    max-width: vw(465px);
    padding-left: vw(120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    li{padding: 0 vw(30px); margin-bottom: vw(30px);}
    li:last-child{margin-bottom: 0;}
    .tab-image-mobile{display: none;}
    .tabs-vertical-line{
      display: block;
      width: 1px; height: 100%;
      background: #6f6f6f;
      position: absolute; top: 0; left: 1px;
      .line-active{
        content: "";
        width: 1px; background: #cd9a81;
        position: absolute; left: 0;
        transition: all .5s ease-in .2s;
      }
    }
    .tab-content{
      height: 0;
      transition: height .5s cubic-bezier(.19,1,.22,1),color .8s linear;
      overflow: hidden;
    }
    .active .tab-content{height: auto; min-height: 50px;}
  }
  .tabs-image-container{
    max-width: vw(1100px); max-height: 440px; height: 440px; overflow: hidden;
    .tab-image{animation: fadeIn .3s linear both; height: 440px;}
    img{width: 100%; height: 100%; object-fit: cover;}
  }
  .heading-5{margin: 0 0 vw(40px) 0; color: #fff; font-size: 30px; line-height: 1;}
  .heading-6{padding: 0 0 vw(15px); color: #6f6f6f; line-height: 20px; font-size: 13px; transition: color .4s linear; cursor: pointer;}
  .active .heading-6{color: #cd9a81;}
  p{color: #fff; line-height: 1.5;}
}
.text_image{
  color: #fff;
  overflow: hidden;
  &.is-light{
    p{color: #141414; border-bottom: 1px solid #141414;}
  }
  .content-wrapper{
    padding: vw(80px) 0; justify-content: space-between;
    &.reverse{
      flex-direction: row-reverse;
      .copy-wrapper{padding: vw(50px) 0 0 vw(120px);}
    }
  }
  .image-wrapper{
    max-width: vw(1100px); overflow: hidden;
    img{width: 100%; height: 100%; object-fit: cover;}
  }
  .copy-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: vw(465px); padding: vw(50px) vw(120px) 0 0;
  }
  .heading-2{margin-bottom: vw(60px); color: #cd9a81; font-size: vw(30px); line-height: 1;}
  p{padding-bottom: vw(50px); border-bottom: 1px solid #fff; font-size: vw(16px); line-height: 1.5; color: #fff;}

}
.experience{
  .copy-wrapper{
    padding: vw(84px) 0; background: #141414;
    .heading-2{margin-bottom: vw(24px); font-size: vw(30px); color: #cd9a81;}
    p{color: #fff; font-size: 16px; line-height: 1.5;}
  }
  .copy-container{
    position: relative;
    padding: 0 vw(30px);
    text-align: center;
    max-width: vw(640px);
    margin-left: auto;
    margin-right: auto;
  }
}
.service-wrapper{
  padding: vw(120px) vw(100px);
  overflow: hidden;
  .image-background{position: absolute; top: 0; left: 0; right: 0;}
  .image-wrapper{
    position: absolute; opacity: 0; visibility: hidden; transition: opacity .3s linear;
    img{max-width: 100%;}
  }
  .image-wrapper.active{opacity: 1; visibility: visible;}
  .experience-item{
    max-width: vw(760px);
    margin-bottom: vw(30px);
    li{
      padding: vw(30px) vw(15px) 0;
      margin: vw(20px) vw(25px);
      width: vw(200px);
      transition: opacity .75s;
      text-align: center; opacity: .5; cursor: pointer; position: relative;
    }
    li.active{
      opacity: 1;
    }
    li:before{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: .1rem;
      background: #fff;
      opacity: .1;
      content: "";
    }
    .icon{width: 32px; height: 32px; margin: 0 auto 1rem;}
    i{font-size: vw(32px); color: #cd9a81; margin: 0 auto vw(10px);}
    .timer-progress{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: .1rem;
      background: #a36b4f;
      transition: width 3.5s ease-in;
      opacity: 0; visibility: hidden;
    }
    li.active .timer-progress{width: 100%; opacity: 1; visibility: inherit;}
    .heading-4{
      color: #fff;
      font-size: 1.1rem;
      text-indent: .1em;
      letter-spacing: .1em;
      line-height: 2rem;
    }
  }
  .experience-list{
    padding: vw(40px) 0;
    li{height: 0; opacity: 0; visibility: hidden; transform: translateY(40px); transition: all .5s linear; overflow: hidden;}
    li.active{
      height: auto;
      opacity: 1; visibility: visible; transform: translateY(0);
      p{display: block; transform: translateY(0); opacity: 1;}
    }
    p{display: none; max-width: vw(760px); min-height: vw(145px);  margin-bottom: vw(50px); font-size: 16px; color: #fff; transform: translateY(-10px); opacity: 0; transition: transform .2s ease-in;}
  }
  .experience-years{
    width: vw(800px); height: vw(666px);
    background: url("#{$img-path}/genesis-three-years-of-service.9823ed5.png") no-repeat 0 0/contain;
    position: absolute; right: vw(80px); top: vw(80px);
  }
}
.social{
  &-content{padding: vw(80px) 0; text-align: center; color: #fff;}
  .heading-2{margin-bottom: 25px; font-size: vw(30px); line-height: 1; color: currentColor;}
  &-link{
    justify-content: center;
    li{margin: 0 vw(15px);}
    .js-animation-short:nth-child(1){transition-delay: .4s}
    .js-animation-short:nth-child(2){transition-delay: .6s}
    .js-animation-short:nth-child(3){transition-delay: .8s}
    i{color: #ccc; font-size: vw(32px);}
    a:hover i{color: #fff;}
  }
}



.text-popup{
  width: 100%;
  height: auto;
  max-height: 60vh;
  overflow: auto;
  background: hsla(0,0%,8%,.9);
  position: fixed; bottom: -100%; left: 0;
  opacity: 0; visibility: hidden;
  transition: all .3s;
  color: #fff; font-size: 1.3rem;
  &::-webkit-scrollbar{width: 5px; border-radius: 3px;}
  &::-webkit-scrollbar-thumb{background: #999;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &.is_open{opacity: 1; visibility: visible; bottom: 0;}
  .content-wrapper{
    padding: vw(40px) vw(120px); height: 100%; overflow: auto;

  }
  .close{
    text-shadow: none;
    font-weight: normal;
    color: #fff; font: 12px genesis-head-light, sans-serif;
    position: absolute; top: vw(20px); right: vw(20px); transition: opacity .25s linear;
    &:hover{opacity: .7; color: #fff !important;}
  }
  p{font-size: 1.6rem; line-height: 1.5;}
}

//uikit
.heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: genesis-head-light,sans-serif;
  text-transform: uppercase;
  display: block;
  &-4{font-size: vw(30px);}
  &-1{font-size: vw(180px);}
}
.cta-btn{
  display: block;
  min-width: vw(240px);
  color: #141414;
  background: #fff;
  border: 1px solid #717171;
  position: relative;
  &:hover{
    color: #fff;
    &:before{width: 100%; opacity: 1; transition: width .25s ease-in-out,opacity 0ms;}
  }
  &:before{
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    background: #141414;
    opacity: 0;
    transition: width 0ms ease-in-out .75s,opacity .75s 0ms;
  }
  .cta-text{
    width: 100%;
    display: inline-block;
    padding: vw(19px) 0;
    font-family: genesis-head,sans-serif;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: .1em;
    text-indent: .1em;
    line-height: 2;
    transition: color 0s ease-out;
    color: currentColor;
    position: relative;
    z-index: 2;
  }
}
.btns,.cta-wrapper{
  .cta-btn:nth-child(2){
    background: hsla(0,0%,86%,.1); margin-left: vw(40px); color: #fff;
    &:before{
      background: hsla(0,0%,86%,.2);
    }
  }
}
[data-popup-copy]{text-decoration: underline; cursor: pointer;}
.is-light{background: #fff !important;}
.js-animation-item{
  transition: 1s ease-out .5s;
}
.js-related-item,.js-animation-short{
  transition: .6s ease-out .5s;
}
.js-data-set{
  .js-data-type{transition: all .8s linear;}
  .js-data-type:nth-child(2){transition-delay: .4s;}
  .js-data-type:nth-child(3){transition-delay: .8s;}
}
.news-list{
  .js-related-item:nth-child(1){transition-delay: 0s;}
  .js-related-item:nth-child(2){transition-delay: .2s;}
  .js-related-item:nth-child(3){transition-delay: .4s;}
}

footer{
  .footer-menu{
    justify-content: center;
    width: 100%; margin: 0 auto;
    padding: 25px 0;
    background: #dbdbdb;
    li{padding: 0 3%;}
    a{display: inline-block; color: #666; text-transform: uppercase; font-size: 12px;}
    a:hover{color: v(hover);}
  }
  .footer-bot{
    padding: 22px 0;
    background: #e6e6e6;
    .btn-link{
      padding-left: 30px;
      a{display: block; padding: 21px 0 0; margin-right: 20px; font-size: 18px; text-transform: uppercase; color: #000;}
    }
    p.copy{
      margin: 0 55px 0 auto;
      font-size: 12px;
      line-height: 58px;
      color: #888;
    }
  }
  .btn-top{
    display: none;
    position: fixed;
    right: 30px; bottom: 30px;
    color: #804033;
    text-align: center;
    &:hover .line{height: 45px;}
    .text{display: block; font-size: 10px; line-height: 1; text-transform: uppercase;}
    .line{
      display: inline-block;
      margin-top: 5px;
      width: 1px;
      height: 33px;
      background: #804033;
      transition: height .2s linear;
      overflow: hidden;
    }
  }
}

//reposive
@media (min-width: 320px) {
  
}
@media (min-width: 768px) {
  .module,.hero-vlp{
    .visual-wrapper{
      .visual.large{display: block;}
    }
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .verticaltabs p{font-size: 14px;}
  .data-set{
    flex-wrap: nowrap;
    left: 60%;
    li{padding: 0 5px;}
  }
  .verticaltabs{
    .tabs-container{max-width: 38%;}
  }
  .text_image{
    .copy-wrapper{max-width: 35%;}
    .heading-2{font-size: 2rem;}
    p{font-size: 1.3rem;}
  }
}
@media (min-width: 1600px) {
  .verticaltabs p{font-size: 16px;}
}

@media (max-width: 1023px) {
  .navbar .menu_top a{padding-right: 20px;}
  .indicator.is_show{
    top: 80px;
    .indicator-wrap{overflow: auto;}
    li a{padding: 19px 10px 17px;}
    ul{min-width: 670px;}
  }
  .hero-vlp{
    .text-wrapper{
      h5{font-size: 1.4rem;}
    }
  }
  .pullquote{
    padding: 2rem 3rem;
    .heading-2{font-size: 2.4rem; margin-bottom: 3.5rem;}
    p{font-size: 1.6rem; margin-bottom: 2rem;}
  }
  .data-set{
    width: 100%; max-width: 100%; margin-top: 25px;
    justify-content: space-around;
    position: relative; left: 0; bottom: 0;
  }
  .dataset{
    .data,.cta-wrapper{width: 100%; max-width: 100%;}
    .data{
      .number{font-size: 3rem;}
    }
    .cta-wrapper{
      justify-content: flex-start;
      .cta-btn{max-width: 200px;}
      .cta-btn:nth-child(2){margin: 0 0 0 20px;}
    }
  }
  .module{
    .full-width-image{height: auto; padding: 4rem}
    .content-wrapper,.content{
      .heading-2{font-size: 2.5rem;}
      .heading-5{font-size: 2rem;}
      p{max-width: 100%;}
    }
  }
  .news{
    &-list{padding: 0 15px;}
    .item{padding: 15px 15px 10px;}
    .item p{margin-right: 0;}
  }
  .pagelink{
    .heading-2{font-size: 2.4rem;}
  }
  .gallery{
    .grid-item:nth-child(1){
      top: 0;
      left: 0;
      width: 100%;
      height: 39.85%;
    }
    .grid-item:nth-child(2){
      top: 39.85%;
      left: 0;
      width: 50%;
      height: 31.45%;
    }
    .grid-item:nth-child(3){
      top: 39.85%;
      left: 50%;
      width: 50%;
      height: 22.6%;
    }
    .grid-item:nth-child(4){
      top: 71.3%;
      left: 0;
      width: 50%;
      height: 28.7%;
    }
    .grid-item:nth-child(5){
      top: 62.45%;
      left: 50%;
      width: 50%;
      height: 37.55%;
    }
  }
  .verticaltabs{
    .content-wrapper{padding: 4rem 0;}
    .heading-5{
      margin-bottom: 8rem; text-align: center; font-size: 2.4rem;
    }
    .heading-6{font-size: 1.6rem;}
    .tabs-container{
      max-width: 100%; padding: 0;
      .tabs-vertical-line{display: none;}
      .tab-image-mobile{display: block; margin-bottom: 3rem;}
      li{padding: 0 3rem; border-top: 1px solid hsla(0,0%,44%,.2);}
      li:last-child{border-bottom: 1px solid hsla(0,0%,44%,.2);}
      img{max-width: 100%;}
    }
    .tabs-image-container{display: none;}
    .heading-6{padding: 3rem 2rem 3rem 0;}
    p{font-size: 1.3rem; padding-bottom: 20px;}
  }
  .text_image{
    .copy-wrapper{max-width: 40%; padding-right: 15px;}
    .heading-2{font-size: 1.6rem;}
    p{font-size: 1.3rem;}
  }
  .experience{
    .copy-container{max-width: 100%; padding: 0 3rem;}
    .copy-wrapper{
      .heading-2{font-size: 2.4rem; margin-bottom: 2rem;}
      p{font-size: 1.3rem;}
    }
  }
  .service-wrapper{
    padding: 3rem;
    .experience-item{
      max-width: 50%;
      justify-content: space-between;
      li{width: 45%; margin: 1rem 0;}
    }
    .experience-list{
      p{max-width: 100%; font-size: 1.3rem;}
    }
  }

  footer{
    .btn-top{bottom: 15px; right: 15px;}
    .footer-bot{
      p.copy{margin: 0; padding: 4rem 2rem; line-height: initial; text-align: center;}
      .btn-link{
        padding-left: 0;
        text-align: center;
        width: 100%;
      }
    }
  }
  //uikit
  .cta-btn{
    width: 100%;
    .cta-text{padding: 14px 0;}
  }
  .cta-wrapper{
    margin-top: 3rem;
    .cta-btn:nth-child(2){margin: 20px 0 0;}
  }
  .heading{
    &-4{font-size: 24px;}
    &-1{font-size: 110px;}
    &-5{font-size: 16px;}
  }
}

@media (max-width: 767px) {
  .navbar{
    height: 50px;
    .menu_top{
      margin-right: 15px;
      li:nth-child(4),li:nth-child(5){display: none;}
      .btn-menu{
        padding-right: 0;
        span.text{display: none;}
      }
    }
    .line-wrap{
      width: 20px; height: 16px; top: -13px;
      &:hover{
        .tb-line{
          &:before{bottom: 12px;}
          &:after{top: 12px;}
        }
      }
      .tb-line{
        .ctr-line{margin-left: -10px;}
        &:before,&:after{margin-left: -10px;}
        &:before{bottom: 14px;}
        &:after{top: 14px;}
      }
    }
    &-brand{width: 70px; height: 30px; background-size: 70px; margin-left: 15px;}
  }
  .navbar-collapse{
    width: 100%; height: 100%; overflow: auto; max-width: 470px; padding-left: 35px;
    .genesis-search input{width: calc(100% - 80px); padding-right: 30px;}
  }
  .indicator.is_show {
    top: 50px;
  }

  main{margin-top: 50px;}
  .hero-vlp{
    .visual-wrapper{
      img{max-height: 345px;}
      .visual.default{display: block;}
    }
    .gold-frame{left: 10px; right: 10px;}
    .hero-content{
      padding: 45px 30px 30px;
      .car-title{margin-bottom: 16rem;}
    }
    .heading-1{margin-top: 0;}
    .text-wrapper{
      h5{font-size: 16px; max-width: 20rem;}
      p{margin: 1rem 0 3rem; font-size: 1.3rem;}
    }
    .btns{
      .cta-btn{width: 100%;}
      .cta-btn:nth-child(2){margin: 15px 0 0;}
    }
  }
  .data-set{
    flex-direction: column;
    .block-debug-label{display: none;}
    .data-lable{max-width: 50%;}
    .data-number{
      text-align: right;
      .number{font-size: 2.8rem;}
    }
    .data-note{max-width: 100px; text-align: right; padding-top: 0;}
    li{
      display: flex; align-items: center; justify-content: space-between;
      padding: 1rem 0; border-bottom: 1px solid #353535;
    }
    li:last-child{border-bottom: none;}
  }
  .dataset{
    &-content{padding: 4rem 3rem;}
    .data{
      flex-direction: column;
      margin-right: 0;
      h5{max-width: 50%;}
      .number{font-size: 2.8rem;}
      li{
        display: flex; align-items: center; justify-content: space-between;
        padding: 2rem 0; border-bottom: 1px solid #353535;
      }
    }
    .text{margin-top: 3rem;}
    .cta-wrapper{
      .cta-btn:nth-child(2){margin: 20px 0 0;}
    }
  }
  .module{
    .visual-wrapper .visual.default{display: block;}
    .full-width-image{
      padding: 70vw 3rem 4rem;
    }
    .content,.content-wrapper{
      max-width: 100%;
      .heading-2,p{max-width: initial;}
      .heading-5{
        margin-bottom: 1rem;
        font-size: 1.6rem;
      }
      .heading-2{font-size: 3.2rem; margin-bottom: 2rem;}
      p{font-size: 1.3rem;}
    }
  }
  .news{
    &-list{padding: 0 3rem;}
    .item{
      width: 100%; padding: 2rem 0 1rem;
      .heading-3{font-size: 1.6rem;}
      p{margin: 3.5rem 0 3rem; font-size: 1.3rem;}
    }
  }
  .pagelink{
    padding: 3rem 2rem;
    .page_link{padding: 0;}
    .heading-2{font-size: 2.4rem; margin: 0 0 2rem;}
  }

  .view360{
    .title-wrapper{padding: 4rem 3rem;}
    .heading-2{font-size: 2.4rem;}
    .threesixty{height: vwm(500px) !important;}
  }

  .text_image{
    .content-wrapper{padding: 4rem 3rem;}
    .content-wrapper.reverse{
      .copy-wrapper{padding: 6rem 0 0;}
    }
    .image-wrapper,.copy-wrapper{max-width: 100%;}
    .copy-wrapper{padding-top: 6rem;}
    .heading-2{margin-bottom: 2rem; font-size: 2.4rem;}
    p{font-size: 1.3rem; border-bottom: 0;}
  }

  .service-wrapper{
    .experience-item{max-width: 100%; margin-top: 14rem;}
    .experience-years{left: 50%; transform: translateX(-50%); right: initial;}
  }
  .social{
    .heading-2{margin-bottom: 1.6rem; font-size: 2.4rem;}
    &-content{padding: 6rem 0 5rem;}
    &-link{
      li{margin: 0 1rem;}
      i{font-size: 2.4rem;}
    }
  }



  //uikit


}
@media (orientation: landscape) and(max-width: 1200px) {
  .navbar-collapse{
    .bottom{position: relative; bottom: 0; margin-top: 25px;}
  }
}


//animation
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}











