<main>
    <section class="anchor" id="introduction"></section>
    <section class="hero-vlp">
        <div class="visual-wrapper js-visual-wrapper">
            <div class="visual default">
                <img src="./assets/images/c01-vlp-hero-g80-small-1536x690-v2-1.jpg" alt="">
            </div>
            <div class="visual large">
                <img src="./assets/images/c01-vlp-hero-g80-xxl-1920x750-v2.jpg" alt="">
            </div>
            <div class="visual full">
                <img src="./assets/images/c01-vlp-hero-g80-xxl-1920x750-v2.jpg" alt="">
            </div>
        </div>
        <div class="hero-content">
            <div class="gold-frame"></div>
            <div class="content-wrapper pr">
                <div class="car-title">
                    <h4 class="heading heading-4 lable">2019 Genesis</h4>
                    <h1 class="heading heading-1 lable">G80</h1>
                </div>
                <div class="text-wrapper">
                    <h5 class="heading heading-5">THAT ELUSIVE COMBINATION OF DIGNITY AND DEFIANCE.</h5>
                    <p>The G80 represents an unprecedented combination of athletic styling, exhilarating performance and spacious interior, plus our most advanced technology and safety features. Whatever your wants, you need sacrifice nothing.</p>
                </div>
                <div class="btns flex">
                    <a href="" title="" class="cta-btn"><span class="cta-text">BUILD YOUR GENESIS G80</span></a>
                    <a href="" title="" class="cta-btn"><span class="cta-text">GET YOUR PRICE</span></a>
                </div>
                <ul class="data-set flex">
                    <li>
                        <h5 class="data-lable"><span>FUEL CONSUMPTION</span></h5>
                        <div class="data-wrapper">
                            <p class="data-number"><span class="number">18/26</span></p>
                            <p class="data-note">
                            <span data-popup-copy="MPG Disclaimer<br>
EPA estimates. For comparison only. Your actual mileage will vary with options, driving conditions, driving habits, and vehicle's condition. ">EPA Estimated</span>
                                City/Hwy MPG*
                            </p>
                        </div>
                    </li>
                    <li>
                        <h5 class="data-lable">
                            <span data-popup-copy="Estimated horsepower based on premium fuel ratings. Use of regular fuel will result in reduced horsepower.">Horsepower*</span>
                        </h5>
                        <p class="data-number"><span class="number">311</span></p>
                    </li>
                    <li>
                        <h5 class="data-lable">
                            Starting
                            <span data-popup-copy="MSRP DISCLAIMER<br>
MSRP excludes tax, title, license and destination charges. Destination charges may vary. Dealer sets actual price. Vehicles displayed may contain optional equipment at additional cost.">MSRP*</span>
                        </h5>
                        <p class="data-number">
                            <span class="currency-symbol">$</span>
                            <span class="number small">42,050</span>
                        </p>
                    </li>
                    <div class="block-debug-label">data-set</div>
                </ul>
            </div>
        </div>
        <div class="button-wrapper">
            <span class="arrow"></span>
        </div>
    </section>
    <section class="anchor" id="offers"></section>
    <section class="pullquote">
        <div class="pullquote-content">
            <h2 class="heading heading-2 js-animation-short">LEASE THE 2019 GENESIS G80 3.8 V6</h2>
            <p class="js-animation-short">The G80 offers mid size luxury and performance that exceeds full size expectations.</p>
        </div>
    </section>
    <section class="dataset">
        <div class="dataset-content flex">
            <ul class="data flex js-data-set">
                <li class="data-type starting-price js-data-type">
                    <h5>LEASE STARTING AT</h5>
                    <div class="costs">
                        <span class="currency-symbol">$</span>
                        <span class="number">399</span>
                    </div>
                </li>
                <li class="data-type starting-price js-data-type">
                    <h5>MOS.</h5>
                    <div class="costs">
                        <span class="currency-symbol"></span>
                        <span class="number">36</span>
                    </div>
                </li>
                <li class="data-type starting-price js-data-type">
                    <h5>DUE AT LEASE SIGNING*</h5>
                    <div class="costs">
                        <span class="currency-symbol">$</span>
                        <span class="number">3,999</span>
                    </div>
                </li>
            </ul>
            <div class="cta-wrapper flex">
                <a href="" title="" class="cta-btn"><span class="cta-text">get your price</span></a>
                <a href="" title="" class="cta-btn"><span class="cta-text">Offer Details</span></a>
            </div>
            <div class="text">
                *After $1,500 Valued Owner or Competitive Owner Coupon. Model shown priced higher. Vehicle not in retailer stock in the Central and East regions and must be ordered. For well-qualified lessees only. Excludes taxes, title and license. No security deposit required. 10,000 mile/year limit. Offer ends 07/08/19.
                <span data-popup-copy="Closed end lease for 2019 G80 4dr Sedan (RWD) (Model #S0402R65) available from 6/4/19 through 7/8/19, to well-qualified lessees. Offer valid only when financed through Genesis Finance. Not all lessees will qualify. Higher lease rates apply for lessees with lower credit ratings. Offer shown based on $3,999 due at lease signing as well as applied $1,500 Valued Owner Coupon/or $1,500 Competitive Owner Coupon (includes $399 first payment and $5,100 capitalized cost reduction). No security deposit required. Featured lease offer includes suggested retailer contribution of $1,000. Dealer contribution may vary and may affect actual lease payment. MSRP $43,045 (includes destination, excludes tax, license, title, registration, documentation fees, and cost of optional equipment). Third-party fees vary by state or locality. Net capitalized cost of $37,641 includes $750 acquisition fee. Lessee responsible for insurance, maintenance, and repairs. Monthly payments total $14,364. Option to purchase at lease end $23,675 plus tax and purchase option fee. If not purchased at lease end, Lessee shall return vehicle and pay a $400 disposition fee, as well as $.25 per mile over 10,000 miles/year, and excess wear and use charges. Purchase option and disposition fees apply except where limited by applicable law. Must take delivery of new vehicle from retailer stock by 7/8/19. See participating retailer for details.
<br><br>
Valued Owner Coupon 6/4/19 - 7/8/19<br>
If you are currently a registered owner of a vehicle distributed by Genesis Motor America, you can receive an additional $1,500 off a new 2019 Genesis G80. Offer cannot be combined with Competitive Owner (CO) Coupon.
 <br><br>
Competitive Owner Coupon 6/4/19 - 7/8/19<br>
If you are currently a registered owner of a qualifying competitive vehicle (Acura, Alfa Romeo, Aston Martin, Audi, Bentley, BMW, Cadillac, Infiniti, Jaguar, Lexus, Lincoln, Mercedes-Benz, Maserati, Porsche, Rolls-Royce, Tesla or Volvo), you can receive an additional $1,500 off a new 2019 G80. See your local retailer for program details and a list of qualifying competitive vehicles. Incentive amounts are subject to change without notice. Genesis Motor America reserves the sole right to cancel, amend or revoke any incentive program in full or in part for any reason at any time without incurring liability. Genesis Motor America reserves the sole right to interpret these rules and shall not be bound by any previous interpretations made by Genesis Motor America before or during the program. Please see a Genesis Retailer for offer details.
">View full offer details.*</span>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="full-width-image is-left" data-scroll-component>
            <div class="visual-wrapper js-visual-wrapper">
                <div class="visual default">
                    <img src="./assets/images/c04-full-width-image-text-g80-mobile-528x800.jpg" alt="">
                </div>
                <div class="visual large">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940.jpg" alt="">
                </div>
                <div class="visual full">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940.jpg" alt="">
                </div>
            </div>
            <div class="content flex">
                <h2 class="heading heading-2 js-animation-item">OUR GRATITUDE IS ALSO AT AN ALL‑TIME HIGH</h2>
                <p class="js-animation-item">After just our first year, we’re honored that the Genesis G80 is already receiving major industry recognition. Proving that when we build around you from the ground up, putting your safety and needs ahead of all else, good things are sure to follow.</p>
            </div>
        </div>
    </section>
    <section class="news">
        <div class="news-list flex">
            <div class="item js-related-item">
                <picture>
                    <img src="./assets/images/c15-related-content-g80-630x358-award-01-v2.jpg" alt="">
                </picture>
                <h3 class="heading heading-3">2019 NHTSA 5-STAR OVERALL SAFETY RATING</h3>
                <p>For more than 30 years, the National Highway Traffic Safety Association has set the standard for automotive safety, making it easier for drivers to choose safer vehicles. Genesis shares this commitment to safety first and that has resulted in the NHTSA bestowing its <span data-popup-copy="Government 5-Star Safety Ratings are part of the National Highway Traffic Safety Administration's (NHTSA's) New Car Assessment Program (www.safercar.gov).">highest rating*</span> on the 2019 G80.</p>
            </div>
            <div class="item js-related-item">
                <picture>
                    <img src="./assets/images/c15-related-content-g80-630x358-award-03-v2.jpg" alt="">
                </picture>
                <h3 class="heading heading-3">ALG HIGHEST PREDICTED RESIDUAL VALUE</h3>
                <p>Leveraging over 50 years of industry expertise, market insights, and analytics to become the benchmark for forecasting vehicle values, <span data-popup-copy="Based on ALG’s residual value forecast for the 2018 model year. ALG is the industry benchmark for residual values and depreciation data, www.alg.com.">ALG predicts the Genesis G80 to retain its value*</span> better than any other car in its class.</p>
            </div>
            <div class="item js-related-item">
                <picture>
                    <img src="./assets/images/c15-related-content-IIHS-2019-630x358.jpg" alt="">
                </picture>
                <h3 class="heading heading-3">2019 IIHS TOP SAFETY PICK+ WITH SPECIFIC HEADLIGHTS</h3>
                <p>IIHS tests are based on two essential criteria: how well a vehicle protects its occupants in the unfortunate event of a crash, and technology that can prevent a crash or lessen its severity. So we are pleased that the 2019 G80 excels in these areas and has been named an <span data-popup-copy="To qualify for 2019 TOP SAFETY PICK+, a vehicle must earn good ratings in the driver-side small overlap front, passenger-side small overlap front, moderate overlap front, side, roof strength and head restraint tests. It also must earn an advanced or superior rating for front crash prevention and a good headlight rating. For details visit www.iihs.org.">IIHS Top Safety Pick+*</span> when equipped with optional LED headlights.</p>
            </div>
        </div>
    </section>
    <section class="pagelink">
        <div class="page_link flex">
            <h2 class="heading heading-2">Stay informed</h2>
            <a href="" class="link js-animation-short">get updates</a>
        </div>
    </section>
    <section class="anchor" id="gallery"></section>
    <section class="gallery">
        <div class="grid js-animation-short">
            <div class="grid-item">
                <a href=""><img src="./assets/images/c03-image-carousel-g80-1024x768-top-left.jpg" alt=""></a>
            </div>
            <div class="grid-item">
                <a href=""><img src="./assets/images/c03-image-carousel-g80-1024x768-bottom-left.jpg" alt=""></a>
            </div>
            <div class="grid-item">
                <img src="./assets/images/c03-image-carousel-g80-1024x768-center.jpg" alt="">
            </div>
            <div class="grid-item">
                <img src="./assets/images/c03-image-carousel-g80-1024x768-top-right.jpg" alt="">
            </div>
            <div class="grid-item">
                <img src="./assets/images/c03-image-carousel-g80-1024x768-bottom-right.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="view360">
        <div class="content-wrapper">
            <div class="title-wrapper">
                <h2 class="heading heading-2 js-animation-short">DISCOVER THE GENESIS G80</h2>
            </div>
            <div class="threesixty car js-animation-short">
                <div class="spinner">
                  <span>0%</span>
                </div>
                <ol class="threesixty_images"></ol>
                <div class="threesixty_icon">
                    <span class="icon">
                        <img src="./assets/images/svgexport-36.svg" alt="">
                    </span>
                    <span class="text">360 <span class="small">o</span></span>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery">
        <div class="grid js-animation-short">
            <div class="grid-item">
                <a href=""><img src="./assets/images/c03-gallery-shiftronic-g80-1024x768.jpg" alt=""></a>
            </div>
            <div class="grid-item">
                <a href=""><img src="./assets/images/c03-image-carousel-g80-1024x768-bottom-left1.jpg" alt=""></a>
            </div>
            <div class="grid-item">
                <img src="./assets/images/c03-image-carousel-g80-1024x768-center1.jpg" alt="">
            </div>
            <div class="grid-item">
                <img src="./assets/images/c03-image-carousel-g80-1024x768-top-right1.jpg" alt="">
            </div>
            <div class="grid-item">
                <img src="./assets/images/c03-image-carousel-g80-1024x768-bottom-right1.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="module">
        <div class="full-width-image">
            <div class="visual-wrapper js-visual-wrapper">
                <div class="visual default">
                    <img src="./assets/images/c04-full-width-image-text-small-g80-750x1136-1.jpg" alt="">
                </div>
                <div class="visual large">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940-1.jpg" alt="">
                </div>
                <div class="visual full">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940-1.jpg" alt="">
                </div>
            </div>
            <div class="content-wrapper flex">
                <h2 class="heading heading-2 js-animation-item">THE PUREST STATEMENTS ARE OFTEN THE MOST PROFOUND.</h2>
                <h5 class="heading heading-5 js-animation-item">Design</h5>
                <p class="js-animation-item">The G80’s athletic exterior expresses an elegant timelessness that can’t be denied. Even a quick glance reveals the dynamic lines—from its bold hexagonal grille through the muscular rear-wheel-drive proportions. It creates a spirited sense of motion, even when standing still.</p>
            </div>
        </div>
    </section>
    <section class="anchor" id="design"></section>
    <section class="verticaltabs ds1">
        <div class="content-wrapper flex">
            <div class="tabs-container">
                <h5 class="heading heading-5">Design</h5>
                <div class="tabs-line-container pr">
                    <div class="tabs-vertical-line"><span class="line-active"></span></div>
                    <ul class="tabs pr">
                        <li>
                            <h6 class="heading heading-6">HANDS-FREE SMART TRUNK WITH AUTO OPEN FEATURE</h6>
                            <div class="tab-content">
                                <div class="tab-image-mobile">
                                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-01.jpg" alt="">
                                </div>
                                <p>Stand adjacent to the trunk with the smart key in your pocket and, after 3 seconds, the hands-free smart trunk will automatically open, allowing convenient access to the cargo space, even when both hands are full.</p>
                            </div>
                        </li>
                        <li>
                            <h6 class="heading heading-6">AVAILABLE PANORAMIC SUNROOF</h6>
                            <div class="tab-content">
                                <div class="tab-image-mobile">
                                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-02.jpg" alt="">
                                </div>
                                <p>The power tilt-and-slide sunroof lets fresh air in and provides panoramic views of both the sun and sky creating an even more open feeling in the already spacious cabin.</p>
                            </div>
                        </li>
                        <li>
                            <h6 class="heading heading-6">BOLD CREST GRILLE</h6>
                            <div class="tab-content">
                                <div class="tab-image-mobile">
                                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-04.jpg" alt="">
                                </div>
                                <p>Make a memorable first impression. Framed by a wide, athletic stance, Genesis’ signature hexagonal crest grille is the cornerstone of the G80’s striking front end, announcing your arrival with confidence.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tabs-image-container">
                <div class="tab-image">
                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-01.jpg" alt="">
                </div>
                <div class="tab-image">
                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-02.jpg" alt="">
                </div>
                <div class="tab-image">
                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-04.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="full-width-image">
            <div class="visual-wrapper js-visual-wrapper">
                <div class="visual default">
                    <img src="./assets/images/c04-full-width-image-text-small-g80-750x1136-2.jpg" alt="">
                </div>
                <div class="visual large">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940-2.jpg" alt="">
                </div>
                <div class="visual full">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940-2.jpg" alt="">
                </div>
            </div>
            <div class="content-wrapper is-right flex">
                <h2 class="heading heading-2 js-animation-item">LEG ROOM. HEAD ROOM. BREATHING ROOM.</h2>
                <p class="js-animation-item">You’ll appreciate room to stretch your legs and relax thanks to a spacious cabin. The unfettered feeling in the remarkably quiet, streamlined cabin is enhanced by intuitively placed controls, available supple Nappa leather, heated and cooled seats, and panoramic sunroof.</p>
            </div>
        </div>
    </section>
    <section class="verticaltabs ds2">
        <div class="content-wrapper flex">
            <div class="tabs-container">
                <h5 class="heading heading-5">Design</h5>
                <div class="tabs-line-container pr">
                    <div class="tabs-vertical-line"><span class="line-active"></span></div>
                    <ul class="tabs pr">
                        <li>
                            <h6 class="heading heading-6">PREMIUM AVAILABLE NAPPA LEATHER</h6>
                            <div class="tab-content">
                                <div class="tab-image-mobile">
                                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-02.jpg" alt="">
                                </div>
                                <p>Setting the stage inside the elegant modern cabin, available Nappa leather seating surfaces with contrast stitching provide a soft touch and unrivaled comfort. You’ll also find genuine matte-finish wood and aluminum trim gracing the G80’s interior.</p>
                            </div>
                        </li>
                        <li>
                            <h6 class="heading heading-6">HEATED AND VENTILATED SEATS</h6>
                            <div class="tab-content">
                                <div class="tab-image-mobile">
                                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-03.jpg" alt="">
                                </div>
                                <p>Assuring that all occupants can adjust comfort settings to their individual liking, the G80 features standard heated front seats and available cooled and ventilated front and heated rear seats.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tabs-image-container">
                <div class="tab-image">
                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-02-2.jpg" alt="">
                </div>
                <div class="tab-image">
                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-03.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="full-width-image">
            <div class="visual-wrapper js-visual-wrapper">
                <div class="visual default">
                    <img src="./assets/images/c04-full-width-image-text-small-g80-750x1136-3.jpg" alt="">
                </div>
                <div class="visual large">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940-3.jpg" alt="">
                </div>
                <div class="visual full">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940-3.jpg" alt="">
                </div>
            </div>
            <div class="content-wrapper flex">
                <h2 class="heading heading-2 js-animation-item">SERIOUS PERFORMANCE REQUIRES SERIOUS HORSEPOWER.</h2>
                <h5 class="heading heading-5 js-animation-item">PERFORMANCE</h5>
                <p class="js-animation-item">A world-class powertrain lineup begins with a <span data-popup-copy="Estimated horsepower based on premium fuel ratings. Use of regular fuel will result in reduced horsepower.">best-in-class standard 311-horsepower V6 engine*</span> indulging performance buffs with generous amounts of power and torque. For those desiring even more muscle, the G80 Ultimate 5.0 has a 420-horsepower V8.</p>
            </div>
        </div>
    </section>
    <section class="anchor" id="performance"></section>
    <section class="verticaltabs performance is-light">
        <div class="content-wrapper reverse flex">
            <div class="tabs-container">
                <h5 class="heading heading-5">PERFORMANCE</h5>
                <div class="tabs-line-container pr">
                    <div class="tabs-vertical-line"><span class="line-active"></span></div>
                    <ul class="tabs pr">
                        <li>
                            <h6 class="heading heading-6">STANDARD 8-SPEED AUTOMATIC TRANSMISSION WITH SHIFTRONIC®</h6>
                            <div class="tab-content">
                                <div class="tab-image-mobile">
                                    <img src="./assets/images/c22-vertical-tab-g80-shiftronic-1440x640.jpg" alt="">
                                </div>
                                <p>Genesis delivers exhilarating performance through its standard 8-speed automatic SHIFTRONIC® transmission with steering-wheel-mounted paddle shifters, and rev matching to flawlessly manage all shift points providing a smooth dynamic.</p>
                            </div>
                        </li>
                        <li>
                            <h6 class="heading heading-6">ADVANCED HIGH STRENGTH STEEL</h6>
                            <div class="tab-content">
                                <div class="tab-image-mobile">
                                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-02.jpg" alt="">
                                </div>
                                <p>The G80’s responsive handling is enhanced by a body structure that makes extensive use of advanced high-strength steel. Light yet incredibly strong, this specialty steel results in a rigid core structure that serves as an ideal platform for tuning the G80’s driving dynamics.</p>
                            </div>
                        </li>
                        <li>
                            <h6 class="heading heading-6">AVAILABLE ADVANCED DUAL MODE AWD</h6>
                            <div class="tab-content">
                                <div class="tab-image-mobile">
                                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-03.jpg" alt="">
                                </div>
                                <p>Under normal traction conditions, Advanced Dual Mode Genesis All Wheel Drive preserves the G80’s inherent rear-wheel-drive dynamics. When a loss of traction is sensed, the system instantly and seamlessly redistributes torque to the appropriate wheels for optimal grip in all weather conditions.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tabs-image-container">
                <div class="tab-image">
                    <img src="./assets/images/c22-vertical-tab-g80-shiftronic-1440x640.jpg" alt="">
                </div>
                <div class="tab-image">
                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-02.jpg" alt="">
                </div>
                <div class="tab-image">
                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-03.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="full-width-image">
            <div class="visual-wrapper js-visual-wrapper">
                <div class="visual default">
                    <img src="./assets/images/c04-full-width-image-text-small-g80-750x1136-4.jpg" alt="">
                </div>
                <div class="visual large">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940-4.jpg" alt="">
                </div>
                <div class="visual full">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940-4.jpg" alt="">
                </div>
            </div>
            <div class="content-wrapper flex">
                <h2 class="heading heading-2 js-animation-item">EXCEPTIONAL POWER DEMANDS PRECISE CONTROL.</h2>
                <p class="js-animation-item">Refined power is achieved via the smooth-shifting standard 8-speed SHIFTRONIC® transmission. Intelligent Drive Mode allows you to fine tune performance settings from comfort to sport with the simple push of a button.</p>
            </div>
        </div>
    </section>
    <section class="text_image">
        <div class="content-wrapper flex">
            <div class="image-wrapper">
                <img src="./assets/images/c30-text-image-g80-1440x640.jpg" alt="">
            </div>
            <div class="copy-wrapper">
                <h2 class="heading heading-2 js-animation-short">2019 GENESIS G80 SPORT</h2>
                <p class="js-animation-short">Further evolving the essence of what a sports sedan can be, the G80 Sport takes Genesis performance to new levels, with its 3.3L, twin-turbo engine delivering an exhilarating 365 hp. Riding on 19-inch Sport alloy wheels, the Sport CDC suspension provides more nimble handling and enhances safety. More aggressive body styling and dark chrome accents create a bold, sporty look.</p>
            </div>
        </div>
    </section>
    <section class="pagelink is-dark">
        <div class="page_link flex">
            <h2 class="heading heading-2">GENESIS G80 SPORT</h2>
            <a href="" class="link js-animation-short">EXPLORE</a>
        </div>
    </section>
    <section class="module">
        <div class="full-width-image">
            <div class="visual-wrapper js-visual-wrapper">
                <div class="visual default">
                    <img src="./assets/images/c04-full-width-image-text-small-g80-750x1136-5.jpg" alt="">
                </div>
                <div class="visual large">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940-5.jpg" alt="">
                </div>
                <div class="visual full">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940-5.jpg" alt="">
                </div>
            </div>
            <div class="content-wrapper flex is-right">
                <h2 class="heading heading-2 js-animation-item">TECHNOLOGY DESIGNED FOR ONE THING: EASE.</h2>
                <h5 class="heading heading-5 js-animation-item">TECHNOLOGY</h5>
                <p class="js-animation-item">While the G80 makes getting there effortless and exhilarating, you’re always fully in touch with where you are and where you’re going, thanks to its intuitive, easy-to-use systems. The advanced navigation system with HD touchscreen, available Heads-up Display and Surround View Monitor combine to provide detailed directions, traffic info and a heightened awareness of everything around you.</p>
            </div>
        </div>
    </section>
    <section class="anchor" id="technology"></section>
    <section class="verticaltabs tech">
        <div class="content-wrapper flex">
            <div class="tabs-container">
                <h5 class="heading heading-5">TECHNOLOGY</h5>
                <div class="tabs-line-container pr">
                    <div class="tabs-vertical-line"><span class="line-active"></span></div>
                    <ul class="tabs pr">
                        <li>
                            <h6 class="heading heading-6">HD NAVIGATION WITH AVAILABLE HIGH-DEFINITION TOUCHSCREEN AND 9.2-INCH DISPLAY</h6>
                            <div class="tab-content">
                                <div class="tab-image-mobile">
                                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-01-1.jpg" alt="">
                                </div>
                                <p>You’re always in touch with where you are and where you're going with standard navigation featuring high-definition touchscreen with 9.2-inch display. Split screen view allows you to check navigational and traffic information as well as other audio/visual data simultaneously. Destination Search by Voice, Android Auto™ & Apple CarPlay™ round out this exceptionally robust system.</p>
                            </div>
                        </li>
                        <li>
                            <h6 class="heading heading-6">AVAILABLE HEADS-UP DISPLAY</h6>
                            <div class="tab-content">
                                <div class="tab-image-mobile">
                                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-02-3.jpg" alt="">
                                </div>
                                <p>Speed and other critical vehicle and systems information are clearly displayed on the windshield directly in front of the driver, allowing eyes to stay clearly focused on the road ahead.</p>
                            </div>
                        </li>
                        <li>
                            <h6 class="heading heading-6">AVAILABLE WIRELESS CHARGING PAD</h6>
                            <div class="tab-content">
                                <div class="tab-image-mobile">
                                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-03-2.jpg" alt="">
                                </div>
                                <p><span data-popup-copy="Qi wireless charging function is based on smartphone compatibility and/or specific accessory cases.">With available wireless charging*</span>, charge your mobile device free from the clutter and inconvenience of wires or cables. A USB charge port is also provided.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tabs-image-container">
                <div class="tab-image">
                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-01-1.jpg" alt="">
                </div>
                <div class="tab-image">
                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-02-3.jpg" alt="">
                </div>
                <div class="tab-image">
                    <img src="./assets/images/c22-vertical-tab-g80-1440x640-img-03-2.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="text_image">
        <div class="content-wrapper reverse flex">
            <div class="image-wrapper">
                <img src="./assets/images/c30-text-image-g80-1440x640-1.jpg" alt="">
            </div>
            <div class="copy-wrapper">
                <h2 class="heading heading-2 js-animation-short">THE SOUND OF EXCELLENCE.</h2>
                <p class="js-animation-short">While the serene cabin keeps the outside world where it belongs, outside, fill it with your favorite music in its purest state. Available premium audio by Lexicon® with Clari-Fi™ technology restores nuances digital compression can take away. With Apple CarPlay™ and Android Auto™ compatibility, you're always as connected as you want to be, especially with available wireless charging keeping your smartphone powered and ready.</p>
            </div>
        </div>
    </section>
    <section class="text_image is-light">
        <div class="content-wrapper flex">
            <div class="image-wrapper">
                <img src="./assets/images/c30-text-image-g80-1440x640-2.jpg" alt="">
            </div>
            <div class="copy-wrapper">
                <h2 class="heading heading-2 js-animation-short">3.8 SPORT PACKAGE</h2>
                <p class="js-animation-short">Driving enthusiasts can dial up the visual edge by opting for the new 3.8 Sport Package. Enhancements include dark-chrome finished crosshatched grille, 19-inch alloy wheels and dual sport designed front and rear bumpers with dual exhaust tips. Additional performance design cues include a sport steering wheel, alloy pedals, exterior door handle, side window and lower door trims.</p>
            </div>
        </div>
    </section>
    <section class="anchor" id="safety"></section>
    <section class="module">
        <div class="full-width-image">
            <div class="visual-wrapper js-visual-wrapper">
                <div class="visual default">
                    <img src="./assets/images/c04-full-width-image-text-small-g80-750x1136-6.jpg" alt="">
                </div>
                <div class="visual large">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940-6.jpg" alt="">
                </div>
                <div class="visual full">
                    <img src="./assets/images/c04-full-width-image-text-large-g80-1920x940-6.jpg" alt="">
                </div>
            </div>
            <div class="content-wrapper flex">
                <h2 class="heading heading-2 js-animation-item">SAFETY IS TOP OF OUR MIND. SO IT DOESN’T WEIGH ON YOURS.</h2>
                <h5 class="heading heading-5 js-animation-item">SAFETY</h5>
                <p class="js-animation-item">Behind every forward thinking feature in every Genesis vehicle stands our equally impressive suite of safety features. An array of advanced technology including <span data-popup-copy="Forward Collision-Avoidance Assist with Pedestrian Detection is intended to be a supplement to safe driving practices. The system is not designed to detect certain stationary objects such as trees or poles and may not detect all vehicles or pedestrians under certain conditions. The system is a driver assistance system and is not a substitute for safe driving. The driver is responsible for being attentive and maintaining control of the vehicle and should not wait for the system's alerts before braking as there may not be sufficient time to brake safely. Refer to your Owner's Manual for more information.">Forward Collision Avoidance Assist*</span> and <span data-popup-copy="NEVER rely completely on Smart Blind Spot Detection and be sure to use proper lane changing procedures. SMART BLIND SPOT DETECTION WILL NOT detect every object or vehicle and will not prevent accidents. Always look over your shoulder and use your mirrors to confirm clearance. See Owner's Manual for further product details and limitations.">Blind Spot Collision Warning</span>, that’s always looking out for what’s most important to us, you.</p>
            </div>
        </div>
    </section>
    <section class="news">
        <div class="news-list flex">
            <div class="item js-related-item">
                <picture>
                    <img src="./assets/images/c15-related-content-g80-630x358-img-01.jpg" alt="">
                </picture>
                <h3 class="heading heading-3">9-AIRBAG SYSTEM</h3>
                <p>The G80’s sophisticated <span data-popup-copy="The Supplemental Restraint System (SRS) is designed to work with the three-point seatbelt system. The SRS deploys in certain frontal and/or side-impact conditions where significant injury is likely. The SRS is not a substitute for seatbelts, which should be worn at all times. Children under the age of 13 should be restrained securely in the rear seat. NEVER place a rear-facing child seat in the front seat of a vehicle that has a passenger side airbag.">airbag system*</span> system features advanced dual front airbags, front and rear side airbags, a driver’s knee airbag and side-curtain airbags, providing you with exceptional protection from every angle.</p>
            </div>
            <div class="item js-related-item">
                <picture>
                    <img src="./assets/images/c15-related-content-g80-630x358-img-02.jpg" alt="">
                </picture>
                <h3 class="heading heading-3">FORWARD COLLISION AVOIDANCE ASSIST</h3>
                <p>Looking out not just for you and your passengers, but those around your G80, <span data-popup-copy="Forward Collision-Avoidance Assist with Pedestrian Detection is intended to be a supplement to safe driving practices. The system is not designed to detect certain stationary objects such as trees or poles and may not detect all vehicles or pedestrians under certain conditions. The system is a driver assistance system and is not a substitute for safe driving. The driver is responsible for being attentive and maintaining control of the vehicle and should not wait for the system's alerts before braking as there may not be sufficient time to brake safely. Refer to your Owner's Manual for more information.">Forward Collision Avoidance Assist*</span> can detect slower or stopped vehicles ahead, as well as pedestrians, and can engage automatic braking for you.</p>
            </div>
            <div class="item js-related-item">
                <picture>
                    <img src="./assets/images/c15-related-content-g80-630x358-img-03.jpg" alt="">
                </picture>
                <h3 class="heading heading-3">SMART CRUISE CONTROL WITH STOP & GO</h3>
                <p><span data-popup-copy="Smart Cruise Control (SCC) is not a collision avoidance or warning device. SCC is for highway use only and should not be used in poor weather, heavy or varying traffic, or on winding or slippery roads. Driver remains responsible to slow or stop the vehicle to avoid a collision.">With Smart Cruise Control*</span>, a front-mounted radar sensor detects the distance to the car ahead, helping to automatically maintaining your distance and speed. After stopping, speed and distance are reengaged after the car ahead starts moving again.</p>
            </div>
        </div>
    </section>
    <section class="news">
        <div class="news-list flex">
            <div class="item js-related-item">
                <picture>
                    <img src="./assets/images/c15-related-content-g80-630x358-img-01-1.jpg" alt="">
                </picture>
                <h3 class="heading heading-3">LANE KEEPING ASSIST</h3>
                <p><span data-popup-copy="Genesis Lane Keeping Assist is designed to notify the driver if the vehicle is leaving the lane of travel by shaking the steering wheel and flashing a display signal. Under certain circumstances, it may also provide light steering counter-assist to help guide the vehicle back into its lane. It is a supplemental assist, and does not replace the need for extreme care and attention by the driver.">Lane Keeping Assist*</span> uses a front-mounted camera to read road lines and markings and issues an audio alert if it senses the vehicle drifting or veering out of its lane. Lane Keep Assist applies slight corrective steering measures to keep your G80 within its lane.</p>
            </div>
            <div class="item js-related-item">
                <picture>
                    <img src="./assets/images/c15-related-content-g80-630x358-img-02-1.jpg" alt="">
                </picture>
                <h3 class="heading heading-3">BLIND SPOT COLLISION WARNING</h3>
                <p><span data-popup-copy="NEVER rely completely on Smart Blind Spot Detection and be sure to use proper lane changing procedures. SMART BLIND SPOT DETECTION WILL NOT detect every object or vehicle and will not prevent accidents. Always look over your shoulder and use your mirrors to confirm clearance. See Owner's Manual for further product details and limitations.">Blind Spot Collision Warning*</span> alerts you when it detects an object in the way during a lane change and provides a secondary alert when you try to activate the turn signal. When backing up, <span data-popup-copy="Do not rely exclusively on the Rear Cross-Traffic Collision Warning. Always look over your shoulder and use your mirrors to confirm rear clearance. There are limitations to the function, detection, range and clarity of the system. To learn more, see Owner’s Manual.">Rear Cross-traffic Collision Warning*</span> helps warn the driver of vehicles approaching from the left or right sides</p>
            </div>
            <div class="item js-related-item">
                <picture>
                    <img src="./assets/images/c15-related-content-g80-630x358-img-03-1.jpg" alt="">
                </picture>
                <h3 class="heading heading-3">DRIVER ATTENTION WARNING</h3>
                <p>Analyzing driving patterns, the <span data-popup-copy="It is the driver’s responsibility to remain alert at all times. Driver Attention Alert is only a warning to inform the driver of a potential lack of driver attention or drowsiness. It does not provide an alert in every situation.">Driver Attention Warning system*</span> detects driver fatigue or distraction, and issues a visual and audio alert suggesting the driver take a rest when necessary.</p>
            </div>
        </div>
    </section>
    <section class="anchor" id="experience"></section>
    <section class="experience">
        <div class="copy-wrapper">
            <div class="copy-container">
                <h2 class="heading heading-2">THE GENESIS EXPERIENCE. AT YOUR SERVICE.</h2>
                <p>True luxury is about the complete experience. Designed around real needs and wants, respecting how you actually live. This is the Genesis Experience, our thoughtfully crafted suite of owner benefits.</p>
            </div>
        </div>
        <div class="service-wrapper pr">
            <ul class="image-background">
                <li class="image-wrapper">
                    <img src="./assets/images/c09-experience-g80-large-1920x940-img-01.jpg" alt="">
                </li>
                <li class="image-wrapper">
                    <img src="./assets/images/c09-experience-g80-large-1920x940-img-02.jpg" alt="">
                </li>
                <li class="image-wrapper">
                    <img src="./assets/images/c09-experience-g80-large-1920x940-img-03.jpg" alt="">
                </li>
                <li class="image-wrapper">
                    <img src="./assets/images/c09-experience-g80-large-1920x940-img-04.jpg" alt="">
                </li>
                <li class="image-wrapper">
                    <img src="./assets/images/c09-experience-g80-large-1920x940-img-05.jpg" alt="">
                </li>
                <li class="image-wrapper">
                    <img src="./assets/images/c09-experience-g80-large-1920x940-img-06.jpg" alt="">
                </li>
            </ul>
            <ul class="experience-item flex pr">
                <li>
                    <div class="timer-progress"></div>
                    <div class="icon"><img src="./assets/images/svgexport-92.svg" alt=""></div>
                    <h4 class="heading heading-4">GENESIS CONNECTED SERVICES</h4>
                </li>
                <li>
                    <div class="timer-progress"></div>
                    <div class="icon"><img src="./assets/images/svgexport-93.svg" alt=""></div>
                    <h4 class="heading heading-4">GENESIS SERVICE VALET</h4>
                </li>
                <li>
                    <div class="timer-progress"></div>
                    <div class="icon"><img src="./assets/images/svgexport-94.svg" alt=""></div>
                    <h4 class="heading heading-4">MULTIMEDIA & NAVIGATION UPDATES</h4>
                </li>
                <li>
                    <div class="timer-progress"></div>
                    <div class="icon"><img src="./assets/images/svgexport-95.svg" alt=""></div>
                    <h4 class="heading heading-4">COMPLIMENTARY MAINTENANCE</h4>
                </li>
                <li>
                    <div class="timer-progress"></div>
                    <div class="icon"><img src="./assets/images/svgexport-96.svg" alt=""></div>
                    <h4 class="heading heading-4">SIRIUSXM AUDIO, TRAFFIC & DATA</h4>
                </li>
                <li>
                    <div class="timer-progress"></div>
                    <div class="icon"><img src="./assets/images/svgexport-97.svg" alt=""></div>
                    <h4 class="heading heading-4">24/7 ENHANCED ROADSIDE ASSISTANCE</h4>
                </li>
            </ul>
            <ul class="experience-list pr">
                <li>
                    <p>Your Genesis includes 3 years of complimentary <span data-popup-copy="Genesis Connected Services/Blue Link is available for 3 years complimentary for 2017, 2018 & 2019 model-year vehicles with active subscription. Enrollment is required. Only use Genesis Connected Services and corresponding devices when it is safe to do so. Cellular and GPS coverage is required. Features, specifications, and fees vary by subscription plan and are subject to change. Ownership limitations may apply. See your retailer for details. Exclusions may apply.">Connected Services*</span> which offers a suite of safety, guidance and remote features, such as Enhanced Roadside Assistance, Destination Search powered by Voice and Remote Start with climate control.</p>
                </li>
                <li>
                    <p>You may never set foot in our service center. With complimentary <span data-popup-copy="Genesis Service Valet is available for original purchaser of the vehicle from Authorized Genesis Retailers during the scheduled maintenance period which includes scheduled maintenance and normal wear, parts replacement or warranty repairs to your vehicle for 3 years or 36,000 miles, whichever comes first. Coverage area varies by retailer. Charges and fees may apply. Contact your Authorized Genesis Retail Service Advocate for details.">Genesis Service Valet*</span> for 3 years or 36,000 miles, we’ll perform a remote diagnostic check, pick up your vehicle, send a Courtesy Replacement and return your Genesis when it’s ready.</p>
                </li>
                <li>
                    <p>Advanced technology includes complimentary map updates to your vehicle’s navigation system for 3 years, to ensure you’re always accessing the most up-to-date mapping. <span data-popup-copy="Multimedia and Navigation Map Care updates are available annually for 2017, 2018 & 2019 model-year vehicles for 3 years after purchase with a regularly scheduled maintenance appointment. Availability timing may vary. Ownership limitations may apply. See your retailer for details. Exclusions may apply.">Updates*</span> are available annually as part of your routine maintenance visit.</p>
                </li>
                <li>
                    <p>Enjoy a worry-free ownership experience that includes <span data-popup-copy="Genesis Complimentary Maintenance is for 2017, 2018 & 2019 model-year vehicles for factory recommended scheduled maintenance for 3 years or 36,000 miles, whichever comes first. Ownership limitations may apply. See your retailer for details. Exclusions may apply.">Complimentary Scheduled Maintenance*</span> for 3 years or 36,000 miles; whichever comes first. Plus, complimentary oil changes every normally scheduled maintenance appointment.</p>
                </li>
                <li>
                    <p>With 3 years of complimentary <span data-popup-copy="SiriusXM Traffic and Travel Link is available for 3 years complimentary for 2017, 2018 & 2019 model-year vehicles. This does not include SiriusXM audio. Ownership limitations may apply. See your retailer for details. Exclusions may apply.">SiriusXM traffic and data services*</span>, you’ll stay up to speed with the latest traffic info and road conditions. In addition, a <span data-popup-copy="SiriusXM audio trial is 90 days. Ownership limitations may apply. See your retailer for details. Exclusions may apply.">SiriusXM All Access*</span> 3-month free trial lets you enjoy more than 150 channels of news, talk and entertainment.</p>
                </li>
                <li>
                    <p>The most essential luxury of all is peace of mind. Should your travel plans take an unexpected turn, 3-year complimentary <span data-popup-copy="Genesis Roadside Assistance is a limited and complimentary service for 3 years/unlimited miles for 2017, 2018 & 2019 model-year vehicles. Mileage and ownership limitations may apply. See your retailer for details. <br><br>
<b>EXCLUSIONS</b><br>
Roadside Assistance is not a warranty and does not include reimbursement for any costs/charges for repairs, parts, labor, property loss, or any other expenses incurred as a result of accident/collision, vehicle abuse, racing, vandalism, or other items not covered by the Genesis New Vehicle Limited Warranty. Also excluded are services for snow tires, repairs to studs, mounting or demounting of snow chains, any fines, fees, or taxes associated with impound towing as a result of any actual or alleged violation of any law or regulation. Off-roading is not covered. To receive service the vehicle must be on a publicly maintained road.<br><br>
<b>LEGAL</b><br>
Roadside Assistance services are provided through the American Automobile Association, Inc., Heathrow, FL, and its affiliated motor clubs (collectively, “AAA”), which are independent contractors of Genesis Motor America (“Genesis”). Genesis makes no guarantee or warranty regarding the services provided by AAA and is not liable for the actions of their employees or subcontractors. Genesis reserves the right to limit services or reimbursement to any owner/driver when, in Genesis’ judgment, the claims are excessive in nature, frequency or type of occurrence.">Roadside Assistance*</span> provides tire changes or transportation to the nearest Genesis dealership or authorized service facility. Also included is reimbursement for any overnight inconvenience.</p>
                </li>
            </ul>
            <div class="experience-years"></div>
        </div>
    </section>
    <section class="pagelink">
        <div class="page_link flex">
            <h2 class="heading heading-2">Stay informed</h2>
            <a href="" class="link js-animation-short">get updates</a>
        </div>
    </section>
    <section class="pagelink is-dark">
        <div class="page_link flex">
            <h2 class="heading heading-2">FIND A RETAILER</h2>
            <a href="" class="link js-animation-short">Search</a>
        </div>
    </section>
    <section class="social">
        <div class="social-content">
            <h2 class="heading heading-2 js-animation-short">CONNECT WITH GENESIS</h2>
            <ul class="social-link flex">
                <li class="js-animation-short"><a href=""><i class="fab fa-twitter"></i></a></li>
                <li class="js-animation-short"><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li class="js-animation-short"><a href=""><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </section>
    <section class="text-popup">
        <div class="content-wrapper">
            <a href="javascript:;" class="close">X</a>
            <article class="content">
                <p></p>
            </article>
        </div>
    </section>
</main>